{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/index.css' %}">
  <link rel="icon" type="image/x-icon" href="{% static 'images/icons/favicon.ico' %}">
  <title>{% trans "DIETOLOGONLINE - Профіль" %}</title>
</head>
<body class="page">
  <header class="header">
    <div class="header__container">
      {% include 'nav.html' %}
      <div class="burger">
        <button id="burger__toggle">
            <span class="burger__line"></span>
        </button>
      </div>
    </div>
  </header>

  <div class="container profile-container">
    <h1>{% trans "Профіль користувача" %}</h1>
    <p>{% trans "Ім'я" %}: {{ user.first_name }}</p>
    <p>{% trans "Призвище" %}: {{ user.last_name }}</p>
    <p>{% trans "Email" %}: {{ user.email }}</p>
    <p>{% trans "Телефон" %}: {{ user.username }}</p>
    {% if user.userdiscount %}
      <p>{% trans "Ваша знижка" %}: {{ user.userdiscount.discount.name }} ({{ user.userdiscount.discount.percentage }}%)</p>
    {% else %}
      <p>{% trans "У вас немає знижки" %}</p>
      <p>{% trans "Приводьте друзів, щоб отримати знижку" %}</p>
    {% endif %}
    <h2>{% trans "Тарифи" %}:</h2>
    <ul>
      {% for offer in offers %}
        <li>{{ offer.name }}:
          {% if monthly_payment %}
            {% if user.userdiscount %}
              {{ offer.discounted_price }} {% trans "грн (зі знижкою)" %}
            {% else %}
              {{ offer.price }} {% trans "грн" %}
            {% endif %}
          {% else %}
            {{ offer.price }} {% trans "грн" %}
          {% endif %}
        </li>
      {% endfor %}
    </ul>
    {% if not monthly_payment %}
      <p>{% trans "Приводьте друзів, щоб отримати знижку" %}</p>
    {% endif %}
    <h2>{% trans "Рекомендація" %}:</h2>
    <p>{{ recommendation }}</p>
  </div>

  <footer>
    <div class="footer-container">
      <p>{{ footer_text }}</p>
    </div>
  </footer>

  <script src="{% static 'js/script.js' %}"></script>
</body>
</html>

<style>
   footer {
        text-align: center;
        padding: 20px 0;
        background-color: #f9f9f9;
    }

    .footer-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>
