{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/index.css' %}">
  <link rel="icon" type="image/x-icon" href="{% static 'images/icons/favicon.ico' %}">
  <title>DIETOLOGONLINE - Профіль</title>
</head>
<body class="page">
  <header class="header">
    <div class="header__container">
      {% include 'nav.html' %}
      <div class="burger">
        <button id="burger__toggle">
            <span class="burger__line"></span>
        </button>
      </div>
    </div>
  </header>

  <div class="container profile-container">
    <h1>Профіль користувача</h1>
    <p>Ім`я: {{ user.first_name }}</p>
    <p>Призвище: {{ user.last_name }}</p>
    <p>Email: {{ user.email }}</p>
    <p>Телефон: {{ user.username }}</p>
    {% if user.userdiscount %}
      <p>Ваша знижка: {{ user.userdiscount.discount.name }} ({{ user.userdiscount.discount.percentage }}%)</p>
    {% else %}
      <p>У вас немає знижки</p>
      <p>Приводьте друзів, щоб отримати знижку</p>
    {% endif %}
    <h2>Тарифи:</h2>
    <ul>
      {% for offer in offers %}
        <li>{{ offer.name }}:
          {% if monthly_payment %}
            {% if user.userdiscount %}
              {{ offer.discounted_price }} грн (зі знижкою)
            {% else %}
              {{ offer.price }} грн
            {% endif %}
          {% else %}
            {{ offer.price }} грн
          {% endif %}
        </li>
      {% endfor %}
    </ul>
    {% if not monthly_payment %}
      <p>Приводьте друзів, щоб отримати знижку</p>
    {% endif %}
    <h2>Рекомендація:</h2>
    <p>{{ recommendation }}</p>
  </div>

  <footer>
    <div class="footer-container">
      <p>{{ footer_text }}</p>
    </div>
  </footer>

  <script src="{% static 'js/script.js' %}"></script>
</body>
</html>
<style>
   footer {
        text-align: center;
        padding: 20px 0;
        background-color: #f9f9f9;
    }

    .footer-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>