{% load static %}  
<section class="section-offer" id="section-offer">
  <div class="container section-offer__container">
    <div class="section-offer__info">
      <h1 class="section-offer__title">Диета для бега</h1>
      <p class="section-offer__text">Получите легкость и свободу, станьте первым вместе с персональным диетологом</p>
      <a href="#/" class="btn section-offer__btn">Выбрать диетолога</a>
    </div>
    <img class="section-offer__img" src="{% static 'images/character.svg' %}" alt="Running girl">
  </div>
 </section>
  <section class="section-problems" id="section-problems">
  <div class="container">
    <h2 class="section-problems__title">Проблемы бега без диеты</h2>
    <div class="section-problems__cards">
      <div class="section-problems__card problem-card">
        <img class="problem-card__img" src="{% static 'images/icons/lamp.svg' %}" alt="">
        <h3 class="problem-card__title">Недостаток энергии</h3>
        <p class="problem-card__text">Неправильный рацион – недостаток энергии/чрезмерная нагрузка на организм</p>
      </div>
      <div class="section-problems__card problem-card">
        <img class="problem-card__img" src="{% static 'images/icons/danger.svg' %}" alt="">
        <h3 class="problem-card__title">Нарушение метаболизма</h3>
        <p class="problem-card__text">Отказ от обеда после тренировки – нарушение метаболизма, эффективность тренировки 0</p>
      </div>
      <div class="section-problems__card problem-card">
        <img class="problem-card__img" src="{% static 'images/icons/neural.svg' %}" alt="">
        <h3 class="problem-card__title">При недоедании</h3>
        <p class="problem-card__text">Неправильный рацион – недостаток энергии/чрезмерная нагрузка на организм</p>
      </div>
      <div class="section-problems__card problem-card">
        <img class="problem-card__img" src="{% static 'images/icons/scales2.svg' %}" alt="">
        <h3 class="problem-card__title">Лишний вес</h3>
        <p class="problem-card__text">Чрезмерная нагрузка на суставы вашего тела, колени</p>
      </div>
      <div class="section-problems__card problem-card">
        <img class="problem-card__img" src="{% static 'images/icons/cake.svg' %}" alt="">
        <h3 class="problem-card__title">Тяжело бегать</h3>
        <p class="problem-card__text">При переедании – боль в печени, нарушение кровотока</p>
      </div>
      <div class="section-problems__card problem-card">
        <img class="problem-card__img" src="{% static 'images/icons/heart.svg' %}" alt="">
        <h3 class="problem-card__title">Нарушение гидробаланса</h3>
        <p class="problem-card__text">Риск головокружения, нарушение работы сердца, загущение крови</p>
      </div>
    </div>
  </div>
</section>