{% load static %} 

  <section class="section-result" id="section-result">
  <div class="container container-flex">
    <img class="section-result__img container-flex__img" src="{% static 'images/character-eaating.svg' %}" alt="Eating boy">
    <div class="section-result__info container-flex__info">
      <h2>Лучший результат</h2>
      <h3>Правильное питание действительно работает</h3>
      <p class="section-result__text container-flex__text">При неправильном питании спорт может оказаться вредным для здоровья. И наоборот – сбалансированный рацион, разработанный с учетом индивидуальных особенностей человека, помогает не только похудеть и получить прекрасное тело, но и добиться невероятных результатов в спорте.</p>
      <a href="#/" class="btn">Выбрать диетолога</a>
    </div>
  </div>
</section>
  <section class="section-describe" id="section-describe">
  <div class="container">
    <h2>Как это работает?</h2>
    <div class="section-describe__container">
      <div class="section-describe__card">
        <img class="section-describe__img" src="{% static 'images/icons/folder.svg' %}" alt="">
        <h3>Обзор вашей ситуации и целей</h3>
        <ul class="section-describe__list">
          <li class="section-describe__list-item"><span class="section-describe__list-item-text">Мы внимательно изучим Ваше пищевое поведение, образ жизни, проблемы со здоровьем и цели.</span></li>
          <li class="section-describe__list-item"><span class="section-describe__list-item-text">Составим план работы на пол года вперед</span></li>
        </ul>
      </div>
      <div class="section-describe__card">
        <img class="section-describe__img" src="{% static 'images/icons/woman.svg' %}" alt="">
        <h3>Выберите идеального онлайн диетолога</h3>
        <ul class="section-describe__list">
          <li class="section-describe__list-item"><span class="section-describe__list-item-text">Выберите персонального диетолога из списка, сформированного на основе Вашей информации в шаге 1</span></li>
          <li class="section-describe__list-item"><span class="section-describe__list-item-text">Вы сможете ознакомиться с опытом, включая профессиональный стаж, образование, профессиональные подходы и отзывы</span></li>
          <li class="section-describe__list-item"><span class="section-describe__list-item-text">Идеальный диетолог постоянно на связи</span></li>
        </ul>
      </div>
      <div class="section-describe__card">
        <img class="section-describe__img" src="{% static 'images/icons/lamp-pazzle.svg' %}" alt="">
        <h3>Получайте поддержку и мотивацию</h3>
        <ul class="section-describe__list">
          <li class="section-describe__list-item"><span class="section-describe__list-item-text">Идеальный диетолог постоянно на связи</span></li>
          <li class="section-describe__list-item"><span class="section-describe__list-item-text">Диетолог всегда готов скорректировать ваше меню в случае, если вы испытываете недостаток в некоторых продуктах питания или просто влечение к сладкому</span></li>
        </ul>
      </div>
    </div>
  </div>
</section>
  <section class="section-dependency" id="section-dependency">
  <div class="container">
    <h2>Зависимость питания и спорта</h2>
    <div class="section-dependency__container">
      <img class="section-dependency__img" src="{% static 'images/depencies.svg' %}" alt="">
      <div class="section-dependency__info">
        <div class="section-dependency__item">
          <div class="chemical-element chemical-element_type_fe">
            Fe
          </div>
          <div class="section-dependency__item-text">
            <h3>Железо</h3>
            <p>Обуславливает выносливость и работоспособность. Недостаток железа – самая распространенная проблема среди атлетов</p>
          </div>
        </div>
        <div class="section-dependency__item">
          <div class="chemical-element chemical-element_type_b">
            B
          </div>
          <div>
            <h3>Витамин В</h3>
            <p>При дефиците нарушается работа сердечно-сосудистого аппарата, есть риск сердечного приступа во время забега</p>
          </div>
        </div>
        <div class="section-dependency__item">
          <div class="chemical-element chemical-element_type_d">
            D
          </div>
          <div>
            <h3>Витамин D</h3>
            <p>Дефицит вызывает нарушение кальций-фосфорного обмена, отсюда – травмы и переломы.</p>
          </div>
        </div>
        <div class="section-dependency__item">
          <div class="chemical-element chemical-element_type_mg">
            Mg
          </div>
          <div>
            <h3>Магний</h3>
            <p>Обеспечивает правильную работу мышц и поглощение кислорода.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>