{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/index.css' %}">
  <link rel="icon" type="image/x-icon" href="{% static 'images/icons/favicon.ico' %}">
  <title>{% trans "DIETOLOGONLINE" %}</title>
</head>
<body class="page">
  <div class="overlay"></div>
  <div class="modal page__modal">
    <svg class="modal__close-icon" viewBox="0 0 48 48">
      <path fill="#F44336" d="M21.5 4.5H26.501V43.5H21.5z" transform="rotate(45.001 24 24)"/>
      <path fill="#F44336" d="M21.5 4.5H26.5V43.501H21.5z" transform="rotate(135.008 24 24)"/>
    </svg>
  </div>
  <header class="header">
    {% include 'nav.html' %}
  </header>

  {% include 'diet_for_run.html' %}
  {% include 'how_its_works.html' %}
  {% include 'our_offers.html' %}
  {% include 'more_info.html' %}
  
  <footer class="footer">
    <div class="container footer__container">
      <a href="/" class="company-name footer__company-name">{{ site_name }}</a>
      <nav class="menu footer__menu">
        <ul class="menu__list footer__list">
          <li class="menu__list-item">
            <a href="#section-problems" class="menu__link">{% trans "Чому ми" %}</a>
          </li>
          <li class="menu__list-item">
            <a href="#section-describe" class="menu__link">{% trans "Як це працює" %}</a>
          </li>
          <li class="menu__list-item">
            <a href="#section-subscriptions" class="menu__link">{% trans "Вартість" %}</a>
          </li>
          <li class="menu__list-item">
            <a href="#section-eating" class="menu__link">{% trans "Переваги" %}</a>
          </li>
          <li class="menu__list-item">
            <a href="#section-ask" class="menu__link">{% trans "Запитайте нас" %}</a>
          </li>
        </ul>
      </nav>
    </div>
  </footer>

  <script src="{% static 'js/script.js' %}"></script>
</body>
</html>
