{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/index.css' %}">
  <link rel="icon" type="image/x-icon" href="{% static 'images/icons/favicon.ico' %}">
  <title>DIETOLOGONLINE</title>
</head>
<body class="page">
  <div class="overlay"></div>
  <div class="modal page__modal">
    <svg class="modal__close-icon" viewBox="0 0 48 48">
      <path fill="#F44336" d="M21.5 4.5H26.501V43.5H21.5z" transform="rotate(45.001 24 24)"/>
      <path fill="#F44336" d="M21.5 4.5H26.5V43.501H21.5z" transform="rotate(135.008 24 24)"/>
    </svg>
    <form class="modal__form" action="">
      <h2 class="modal__title">Оставьте заявку</h2>
      <input type="text" name="sdfds" pattern="^[A-Za-z \s*]+$ required" class="modal__input" placeholder="Ваше имя">
      <input type="email" class="modal__input email-input" placeholder="Ваша почта">
      <input type="text" class="modal__input phone-input" placeholder="Номер телефона">
      <textarea placeholder="Ваши пожелания" class="modal__textarea"></textarea>
      <button type="button" class="modal__btn">Отправить</button>
    </form>
  </div>
<header class="header">
  <div class="header__container">
   
      {% include 'nav.html' %}

    </nav>
    <a href="#/" class="btn header-btn">Выбрать диетолога</a>
    <div class="burger">
      <button id="burger__toggle">
          <span class="burger__line"></span>
      </button>
    </div>
  </div>
</header>
    {% include 'diet_for_run.html' %}
    
    {% include 'how_its_works.html' %}
 
    {% include 'our_offers.html' %}
  
    {% include 'more_info.html' %}
  
<footer class="footer">
    <div class="container footer__container">
        <a href="#/" class="company-name footer__company-name">Dietologonline</a>
        <nav class="menu footer__menu">
            <ul class="menu__list footer__list">
                <li class="menu__list-item"><a href="#section-problems" class="menu__link">Почему мы</a></li>
                <li class="menu__list-item"><a href="#section-describe" class="menu__link">Как это работает</a></li>
                <li class="menu__list-item"><a href="#section-subscriptions" class="menu__link">Стоимость</a></li>
                <li class="menu__list-item"><a href="#section-eating" class="menu__link">Преимущества</a></li>
                <li class="menu__list-item"><a href="#section-ask" section-class="menu__link">Спросите нас</a></li>
            </ul>
        </nav>
    </div>
</footer>
<script src="https://unpkg.com/imask"></script>
<script src="{% static 'js/script.js' %}"></script>
</body>
</html>
