{% load static %}

  <section class="section-eating" id="section-eating">
    <div class="container section-eating__container">
<img class="section-eating__img" src="{% static 'images/icons/Healthy-lifestyle-cuate-1.svg' %}" alt="Eating boy">
        <div class="section-eating__info">
            <h2 class="section-eating__title">Общей диеты не существует</h2>
            <p class="section-eating__text">При занятиях бегом очень важно что, сколько и когда вы едите. Общей диеты нет – рацион должен учитывать индивидуальные особенности организма, скорость метаболизма, программу тренировок. Очень важна профессиональная помощь диетолога, который разработает для вас специальную диету для тренировок.</p>
            <a href="#/" class="section-eating__btn">Выбрать диетолога</a>
        </div>
        <div class="section-eating__card">
            <img class="section-eating__card-img" src="{% static 'images/icons/energy.svg' %}" alt="">
            <h3 class="section-eating__card-title">Энергия для организма</h3>
            <p class="section-eating__card-text">Важно насытить организм перед началом тренировки, оптимально – сложными углеводами, дающими энергию длительное время. Иначе вы можете потерять сознание, травмироваться или даже впасть в гликогикемическую кому.</p>
        </div>
        <div class="section-eating__card">
            <img class="section-eating__card-img" src="{% static 'images/icons/danger.svg' %}" alt="">
            <h3 class="section-eating__card-title">Опасность во время тренировок</h3>
            <p class="section-eating__card-text">Если перед тренировкой вы переели, уже с первыми шагами тело не справляется с двойной нагрузкой – перевариванием пищи, процессами метаболизма и собственно физической активностью. Начинает болеть в левом и правом боках – это печень и селезенка, страдающие чрезмерной работой.</p>
        </div>
    </div>
</section>
  <section class="section-ask" id="section-ask">
    <div class="container container-flex">
        <img class="section-ask__img container-flex__img" src="{% static 'images/character-with-phone.svg' %}" alt="Eating boy">
        <div class="section-ask__info container-flex__info">
            <h2>Узнайте больше</h2>
            <p class="section-result__text container-flex__text">Все еще есть вопросы? Мы будем рады ответить на них в любое удобное для Вас время.</p>
            <a href="#/" class="btn">Спросите нас</a>
        </div>
    </div>
</section>