
{% load static %}
 <section class="section-subscriptions" id="section-subscriptions">
  <div class="container">
    <h2>Выбрать персонального онлайн специалиста</h2>
    <div class="section-subscriptions__container">
        {% for offer in offers %}
            <div class="subscription">
        <div class="subscription__header">
          <span class="subscription__title">{{ offer.name }}</span><br>
          <span class="subscription__price">{{ offer.price}} UAH</span>
          <s class="subscription__price-old">{{ offer.old_price}} UAH</s>
        </div>
        <div class="subscription__main">
          <ul class="subscription__offers-list">
          
            {% if offer.free_consultation == True %}
                <li class="subscription__list-item">{{ free_consultation }}</li>
            {% else %}
                <li class="subscription__list-item subscription__list-item_not-include">{{ free_consultation }}</li>
            {% endif %}  
          
            {% if offer.eating_plan == True %}
                <li class="subscription__list-item">{{ eating_plan }}</li>
            {% else %}
                <li class="subscription__list-item subscription__list-item_not-include">{{ eating_plan }}</li>
            {% endif %}
          
              {% if offer.couching == True %}
                <li class="subscription__list-item">{{ couching }}</li>
            {% else %}
                <li class="subscription__list-item subscription__list-item_not-include">{{ couching }}</li>
            {% endif %}  
          
              {% if offer.consultation_about_sport == True %}
                <li class="subscription__list-item">{{ consultation_about_sport }}</li>
            {% else %}
                <li class="subscription__list-item subscription__list-item_not-include">{{ consultation_about_sport }}</li>
            {% endif %}
          
              {% if offer.back_up_money == True %}
                <li class="subscription__list-item">{{ back_up_money }}</li>
            {% else %}
                <li class="subscription__list-item subscription__list-item_not-include">{{ back_up_money }}</li>
            {% endif %} 
          
              {% if offer.free_week_for_family == True %}
                <li class="subscription__list-item">{{ free_week_for_family }}</li>
            {% else %}
                <li class="subscription__list-item subscription__list-item_not-include">{{ free_week_for_family }}</li>
            {% endif %}
          
          </ul>
          <a href="#/" class="btn">Выбрать</a>
        </div>
      </div>
        {% endfor %}
    </div>
    <p class="section-subscription__garantee">{{ warranty_reminder }}</p>
  </div>
</section>