{% load static %}
 <section class="section-subscriptions" id="section-subscriptions">
  <div class="container">
    <h2>Выбрать персонального онлайн специалиста</h2>
    <div class="section-subscriptions__container">
      <div class="subscription">
        <div class="subscription__header">
          <span class="subscription__title">Пробная неделя</span><br>
          <span class="subscription__price">990 руб</span>
          <s class="subscription__price-old">1990 руб</s>
        </div>
        <div class="subscription__main">
          <ul class="subscription__offers-list">
            <li class="subscription__list-item">Бесплатные консультации</li>
            <li class="subscription__list-item">План питания основывается на ваших предпочтениях и потребностях здоровья</li>
            <li class="subscription__list-item">Гарантия возврата денег в течение первой недели</li>
            <li class="subscription__list-item">Коучинг: специалист по питанию будет следить за Вашими результатами</li>
            <li class="subscription__list-item subscription-list-item_not-include">Консультации по спортивному питанию</li>
            <li class="subscription__list-item subscription__list-item_not-include">Бесплатная неделя для вашего друга или члена семьи</li>
          </ul>
          <a href="#/" class="btn">Выбрать</a>
        </div>
      </div>
      <div class="subscription subscription-focused">
        <div class="subscription__header subscription-focused__header">
          <span class="subscription__title">1 месяц</span><br>
          <span class="subscription__price">2990 руб</span>
          <s class="subscription__price-old">4990 руб</s>
        </div>
        <div class="subscription__main subscription-focused__main">
          <ul class="subscription__offers-list subscriprtion-focused__offers-list">
            <li class="subscription__list-item">Бесплатные консультации</li>
            <li class="subscription__list-item">План питания основывается на ваших соображениях и потребностях здоровья</li>
            <li class="subscription__list-item">Гарантия возврата денег в течение первой недели</li>
            <li class="subscription__list-item">Коучинг: специалист по питанию будет следить за Вашими результатами</li>
            <li class="subscription__list-item">Консультации по спортивному питанию</li>
            <li class="subscription__list-item subscription__list-item_not-include subscription-focused__list-item_not-include">Бесплатная неделя для вашего друга или члена семьи</li>
          </ul>
          <a href="#/" class="btn subscription-focused__btn">Выбрать</a>
        </div>
      </div>
      <div class="subscription">
        <div class="subscription__header">
          <span class="subscription__title">3 месяца</span><br>
          <span class="subscription__price">5990 руб</span>
          <s class="subscription__price-old">6990 руб</s>
        </div>
        <div class="subscription__main">
          <ul class="subscription__offers-list">
            <li class="subscription__list-item">Бесплатные консультации</li>
            <li class="subscription__list-item">План питания основывается на ваших соображениях и потребностях здоровья</li>
            <li class="subscription__list-item">Гарантия возврата денег в течение первой недели</li>
            <li class="subscription__list-item">Коучинг: специалист по питанию будет следить за Вашими результатами</li>
            <li class="subscription__list-item">Консультации по спортивному питанию</li>
            <li class="subscription__list-item">Бесплатная неделя для вашего друга или члена семьи</li>
          </ul>
          <a href="#/" class="btn">Выбрать</a>
        </div>
      </div>
    </div>
    <p class="section-subscription__garantee">*7-дневная гарантия возврата средств включена во все планы</p>
  </div>
</section>