{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Резервація дзвінка</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/fonts.css' %}">
    <link rel="stylesheet" href="{% static 'css/modal.css' %}">
    <style>
        .callback-container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 80vh;
        }

        .callback-section {
            text-align: center;
        }
    </style>
</head>
<body>
    <header class="header">
        <div class="header__container">
            {% include 'nav.html' %}
        </div>
    </header>

    <main>
        <section class="callback-section">
            <div class="callback-container">
                <div class="container">
                    <h1>Резервація дзвінка</h1>
                    <form method="post" role="form" class="php-email-form" data-aos="fade-up" data-aos-delay="100">
                        {% csrf_token %}
                        {{ form.non_field_errors }}
                        <div class="row gy-4">
                            {% for field in form %}
                                <p><label class="form-label" for="{{ field.id_for_label }}">{{field.label}}: </label>{{ field }}</p>
                                <div class="form-error">{{ field.errors }}</div>
                            {% endfor %}
                        </div>
                        <button type="submit" class="btn btn-primary">Зарезервувати</button>
                    </form>
                </div>
            </div>
        </section>
    </main>

    <footer>
        <div class="container">
            <p>© 2023 Dietology. Все права захищені.</p>
        </div>
    </footer>
</body>
</html>
